# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
env/
ENV/
.venv/

# pipenv
Pipfile.lock

# Poetry
poetry.lock

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# mypy
.mypy_cache/

# Pyre
.pyre/

# pytype
.pytype/

# Cython debug symbols
cython_debug/

# Streamlit
.streamlit/config.toml
.streamlit/secrets.toml

# dotenv
.env
.env.*

# Jupyter Notebook
.ipynb_checkpoints/

# VSCode
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
